.course_box {
    border: 1px solid #e6e6e6;
    border-left: 5px solid #e6e6e6;
    margin-bottom: 30px;
    padding: 15px;
    color: #e6e6e6;
}
.course_box h5 {
    color: #75b6e7;
    font-size: 24px;
    line-height: 36px;
    height: 72px;
}
.course_box img {
    height: 50px;
    margin-right: 20px;
    background-color: #fff;
    padding: 3px;
    border-radius: 3px;
}
.course_btn {
    color: #e6e6e6;
    padding: 3px 6px;
    transition: 0.3s ease-in-out;
}
.course_btn:hover {
    background-color: #e6e6e610;
    color: #fff;
}